[Unit]
Description=Packet Filtering Framework
DefaultDependencies=no
After=systemd-sysctl.service
Before=sysinit.target
[Service]
Type=oneshot
ExecStart=/etc/iptables/iptables.fw start
ExecReload=/etc/iptables/iptables.fw reload
ExecStop=/etc/iptables/iptables.fw stop
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
